.social ul{
  margin-left: -50px;
}
.social{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.social .profile-img{
  margin-right: 50px;
  margin-left: 150px;
  padding-left: 0px;
}
#Slider{
  background-color:white;
  text-decoration-color: white;
}
.estrelas input[type=radio] {
display: none;
}
.estrelas label i.fa{
font-size:1.2rem
}
.estrelas label i.fa:before {
content:'\f005';
color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
color: #CCC;
}
#slideshow {
  display:inline-block;
}
.card {
  width: 190px;
  height: 254px;
  background: rgb(40,40,55);
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgb(141, 8, 141) 50%);
  box-shadow: 4px 6px 14px #2F2F42;
  border-radius: 3px;
  color: black;
  padding: 16px;
  transition: all .3s;
  
 }
 
 .card:hover {
  margin-top: -30px;
 }
 #destaques{
   display:inline-block;
 }
 
 main{
  margin-top:30px;
}

.slide{
  display: flex;
  font-size: 18px;
  margin-left: 135px;
}
iframe{
  width:100%;
}
.text{
  max-width:100%;
  text-align:left;
  padding-left: 20px;
  color: black;
}

.text h1{
  color: rgb(0, 0, 0);
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}

.slide-show{
  overflow: hidden;
  margin-left: -113px;
}

.thriller{
  text-align:center;
  margin: 0 auto;
  background-color:rgb(255, 249, 249);
  padding-bottom:30px;

}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns:1fr;
}

.slide-show{
  width: 105%;
  margin-left: -113px;
  width: 105%;
}
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
.avalicoes{
  padding-top:5px;
}
.profile-img{
  max-width:40px;
  display: flex;
  float: left;
  }
  
.row h1{
  padding: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: grid;
}
.row h2{
  color: rgb(0, 0, 0);
}
.row{
  
  max-width:100%;
  margin-left: 1px;
  color: rgb(0, 0, 0);
}
.sobre{
  text-align:center;
  margin-left: -28px;
  padding-top:40px;
  }
  
